{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    }
  ]
}